name: App deployment

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: gcr.io/kaniko-project/executor:debug

    steps:
      - name: Build and push Docker image
        run: |
          cat <<EOF > /kaniko/.docker/config.json
          {
            "auths": {
              "https://index.docker.io/v1/": {
                "auth": "$(echo -n "${{ secrets.DOCKER_USERNAME }}:${{ secrets.DOCKER_PASSWORD }}" | base64 )"
              }
            }
          }
          EOF

          /kaniko/executor \
            --dockerfile "./Dockerfile" \
            --context "${{ github.repositoryUrl }}#${{ github.ref }}#${{ github.sha }}" \
            --context-sub-path "./backend" \
            --destination "nfire2103/api:latest" \
            --reproducible \
            --use-new-run \
            --push-retry 5

  deploy:
    needs: build
    runs-on: ubuntu-latest
    container: alpine/k8s:1.34.1

    steps:
      - uses: actions/checkout@v4

      - name: Deploy charts to K3s
        run: |
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig
          export KUBECONFIG=$(pwd)/kubeconfig

          kubectl apply -f ./backend/charts
